@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --edge-padding: 1rem;
  --min-height: 100vh;
  --min-width: 100vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  min-height: var(--min-height);
  min-width: var(--min-width);
  padding: var(--edge-padding);
}
